<div class="rigth-content">
    <mat-card class="project-card" id="attentec">
        <mat-card-header>
            <mat-card-title>
                <p class="project-title">Attentec Prov</p>
            </mat-card-title>
        </mat-card-header>

        <mat-grid-list cols="2" rowHeight="800px">
            <mat-grid-tile>
                <div class="verticalImage">
                    <img mat-card-image src="./assets/img/attentec.png">
                    <iframe mat-card-image
                        src="https://drive.google.com/file/d/1xjSFB-BuOF4MENPYZIQe90Y1JLlAaq5l/preview"
                        allow="fullscreen"></iframe>
                </div>
            </mat-grid-tile>
            <mat-grid-tile>
                <mat-card-content>
                    <a>
                        During the summer of 2019, I worked, together with two students from Linköping, with developing
                        a
                        web-application to support Attentecs coding-test that their employees do before being hired.
                        <br /><br />
                        The project group planned the whole project, made decisions about technology and developed the
                        application from scratch. Using Python and Flask in the back-end, SQLAlchemy for database,
                        Angular for
                        front-end and
                        GitLab for version control we could deliver a functional application at the end of the summer.
                        The
                        platform
                        was deployed on AWS and is used today by the company, they have since been developing it further
                        and
                        adding
                        more features.
                        <br /><br />
                        My work focused mainly on designing the database, front-end development and implementing
                        authentication
                        for
                        the administrators with an open API from Google. I also was responsible for the continous
                        contact with the product owner at Attentec.
                        <br /><br />
                        Duration: 12 weeks
                        <br /><br />
                        Team size: 3
                    </a>
                </mat-card-content>
            </mat-grid-tile>
        </mat-grid-list>

    </mat-card>

    <mat-divider></mat-divider>

    <mat-card class="project-card" id="assembly">
        <mat-card-header>
            <mat-card-title>
                <p class="project-title">IKEA Assembly</p>
            </mat-card-title>
        </mat-card-header>

        <mat-grid-list cols="2" rowHeight="800px">
            <mat-grid-tile>
                <div class="verticalImage">
                    <img mat-card-image src="./assets/img/assembly1.png">
                    <img mat-card-image src="./assets/img/assembly2.png">
                </div>
            </mat-grid-tile>
            <mat-grid-tile>
                <mat-card-content>
                    <a>
                        In a course on Interaction Design, I together with 4 other students had a project focused on the
                        design process. Our idea for IKEA Assembly came from the observed frustration from people having
                        to assemble furniture. We saw that this was a widely spread problem.
                        <br /><br />
                        Together, in the group, we had ideations and iterations on different ideas we had to solve the
                        problem.
                        Our
                        final decision landed on an application that would incorporate animation to make it easier for
                        the
                        person to
                        assemble a piece of furniture.
                        <br /><br />
                        The whole project group took part in the development of the idea. In the later stages of
                        developing the
                        application, I and another student made the animation of the assembly of the furniture Marius.
                        <br /><br />

                        <br /><br />
                        Duration: 10 weeks
                        <br /><br />
                        Team size: 5

                        <a mat-button target="_blank" class="link-button" color="primary"
                            href="https://drive.google.com/open?id=1gSrbeHhfYZtzPFvKm6sG-gk51NwTvPfF">Here you can read
                            the
                            whole
                            work-book of the project!</a>
                    </a>
                </mat-card-content>
            </mat-grid-tile>
        </mat-grid-list>
    </mat-card>

    <mat-divider></mat-divider>

    <mat-card id="memary" class="project-card">
        <mat-card-header>
            <mat-card-title>
                <p class="project-title">memARy</p>
            </mat-card-title>
        </mat-card-header>

        <mat-grid-list cols="2" rowHeight="800px">
            <mat-grid-tile>
                <div class="verticalImage">
                    <iframe mat-card-image
                        src="https://drive.google.com/file/d/1rvd3W_Nq_uL7W6Ma6aRrrk890CaGYrj4/preview"
                        allow="fullscreen"></iframe>
                    <img mat-card-image class="special" src="./assets/img/memary2.png">
                </div>
            </mat-grid-tile>
            <mat-grid-tile>
                <mat-card-content>
                    <a>
                        In a course on Multimodal Interaction, me and 3 other students hade a project with a focus on
                        combining
                        two
                        modalities. We chose to work with the visual and auditory modality, resulting in an AR
                        application aimed
                        to
                        help training the memory.
                        <br /><br />
                        We worked together in the researching stage and developing the frames for the project. As help
                        during
                        the
                        development stage, we used some tools like Figma for design, Unity for development of the app
                        and
                        ARcore
                        for the AR functionality. The main functionality of the app was to place 3D objects that
                        represents
                        something to remember, in a room and let the user walk a Memory Walk. The objects had each a
                        connected
                        sound
                        that helped them memories a sequence of things.
                        <br /><br />
                        I worked mainly on getting the AR application to work, coding in C# and implementing ARcore. The
                        design
                        frames developed by my group members was implemented in Unity and with its UI-objects we
                        hade a
                        clickable app with a workflow we were happy with. With Unity, I could also incorporate the
                        distance
                        detection so that the sound could be triggered when the user was close enough.

                        <br /><br />
                        Duration: 12 weeks
                        <br /><br />
                        Team size: 4
                    </a>
                </mat-card-content>
            </mat-grid-tile>
        </mat-grid-list>
    </mat-card>

    <mat-divider></mat-divider>

    <mat-card id="mvk" class="project-card">
        <mat-card-header>
            <mat-card-title>
                <p class="project-title">GoSaveThem</p>
            </mat-card-title>
        </mat-card-header>

        <mat-grid-list cols="2" rowHeight="800px">
            <mat-grid-tile>
                <div class="verticalImage">
                    <img mat-card-image src="./assets/img/gosavethem1.jpg">
                    <img mat-card-image src="./assets/img/gosavethem2.jpg">
                </div>
            </mat-grid-tile>
            <mat-grid-tile>
                <mat-card-content>
                    <a>
                        In a course on Software Development, me and 9 other students developed a game for a company with
                        focus
                        on
                        teaching the public how ambulance staff worked. The game was later called GoSaveThem.
                        <br /><br />

                        Together with the company, we developed during a half a year both the project plan and the game.
                        The game was developed in the game engine Unity3D, which was new for almost everybody in the
                        group. Using a asset package that the company gave us, we ueed the 3D models and implemented
                        both the game mechanics and logic. The UI was developed by one team member, and the version
                        control was contrelled through Github. The app was later deployed to AppStore.
                        <br /><br />

                        During the project, I had contact with the company, modeld the world of the game and supported
                        my teammates in the development while also contributing to the game logic.
                        <br /><br />
                        Duration: 20 weeks
                        <br /><br />
                        Team size: 10

                        <a mat-button target="_blank" class="link-button" color="primary"
                            href="https://github.com/cire96/Life-Saving-Skills/network/dependencies">Here you can get to
                            the
                            projects Github repository!</a>
                    </a>
                </mat-card-content>
            </mat-grid-tile>
        </mat-grid-list>
    </mat-card>
</div>