
<div class="nav-list">
    <a mat-button class="nav-button" color="primary" href="./portfolio#attentec">Attentec Prov</a>
    
    <a mat-button class="nav-button" color="primary"  href="./portfolio#assembly">IKEA Assembly</a>
    
    <a mat-button class="nav-button" color="primary" href="./portfolio#memary">memARy</a>
    
    <a mat-button class="nav-button" color="primary" href="./portfolio#mvk">GoSaveThem</a>
</div>

    <div class="rigth-content">
        <div class="info" id="attentec">
            <p>Attentec Prov</p>
            <img src="assets/img/attentec.png">
            <iframe src="https://drive.google.com/file/d/1xjSFB-BuOF4MENPYZIQe90Y1JLlAaq5l/preview" allow="fullscreen"></iframe>
            <a>
                During the summer of 2019 I worked, together with two student from Linköping, with developing a webapplication to support their coding-test that their employees do before being hired. <br /><br />
                The project group planned the whole project, made decisions about techonoly and developed the applikation from scratch. Using Python and Flask in the back-end, SQLAlchemy for database, Angular for front-end and GitLab for version control we could deliver a functional application at the end of the summer. The platform was deployed on AWS and is used today by the company, they have since been developing it furthur and addin more features. 
                <br /><br />
                My work focused mainly on designing the database, front-end development and implementing authentication for the administrators with an open API from Google. 
            </a>
        </div>
        
        <mat-divider></mat-divider>
                  
        <div class="info" id="assembly">
            <p>IKEA Assembly</p>
            <img src="assets/img/assembly1.png">
            <img src="assets/img/assembly2.png">

            <a>
                In a course on Interaction Design, I together with 4 other students had a project focused the design process. Our idea for IKEA Assembly came from the obesrved frustration from people having to assemble furniture. We saw that this was a widley spread problem.
                <br /><br />
                Together, in the group, we had ideations and iterations on diffrent ideas we had to solve the problem. Our final decision landed on an application that would incorporate animation to make it easier for the person to assemble a furniture. 
                <br /><br />
                The whole project groput took part of the development of the idea. In the later stages of developing the application, I and another student made the animation of the assembly of the furniture Marius. 
                <br /><br />

                <a mat-button target="_blank" class="link-button" color="primary" href="https://drive.google.com/open?id=1gSrbeHhfYZtzPFvKm6sG-gk51NwTvPfF">Here you can read the whole work-book of the project!</a>
            </a>
        </div>
        
        <mat-divider></mat-divider>
        
        <div class="info" id="memary">
            <p>memARy</p>
            <iframe src="https://drive.google.com/file/d/1rvd3W_Nq_uL7W6Ma6aRrrk890CaGYrj4/preview" allow="fullscreen"></iframe>
            <img class="special" src="assets/img/memary2.png">

            <a>
                In a course on Multimodal Interaction, me and 3 other students hade a project with focus on combining two modalites. We chose to work with the visiual and auditory modality, resulting in an AR application aimed to help training the memory. 
                <br /><br />
                We worked togheter in the reaserching stage and developing the frames for the project. As help during the development stage, we used some tools like figma for design, Unity for developmment of the app and ARcore for the AR functionality. The main functionality of the app was to place 3D objects that represents something to remeber, in a room and let the user walk a Memory Walk. The objects had each a connected sound that helped them memories a sequence of things.  
                <br /><br />
                I worked mainly on getting the AR application to work, coding in C# and implementing ARcore. The design frames developed by my group memebers was implemented in Unity and with it's own UI-objects we hade a clickable app with a work flow we were happy with. With Unity, I could also incorporate the distance detection so that the sound could be triggerd when the user was close enough. 
            </a>
           
        </div>
        
        <mat-divider></mat-divider>

        <div class="info" id="mvk">
            <p>GoSaveThem</p>
            <div class="pictures">
                <img src="assets/img/gosavethem1.jpg">
                <img src="assets/img/gosavethem2.jpg">
                <div class="pic-text">
                    <a>
                        In a course on Softwere Development, me and 9 other students developed a game for a company with focus on teaching the public how ambulance staff worked. The game was later called GoSaveThem. 

                        <a mat-button target="_blank" class="link-button" color="primary" href="https://github.com/cire96/Life-Saving-Skills/network/dependencies">Here you can get to the projects Github repository!</a>
                    </a>
                </div>
            </div>
        </div>
    </div>
