.example-button-row a,
.example-button-row button {
  margin-right: 8px;
  font-weight: 400;
  font-size: large;
  font-family: 'IM Fell English', serif;
}

.example-button-row{
    margin-left: 75%;
    margin-top: 30px;
}

.example-button-container {
  position: absolute;
  margin-left: 2%;
  margin-top: 2%; 
}

.mat-button{
  font-family: 'IM Fell English', serif !important;
  font-size: x-large; 
}

.header{
  background-color: transparent;
  height: 80px;
  position: fixed;
  width: 100%;
  top:0;
  z-index: 9;
}

.header-scroll{
  background-color:#F5C667;
}

router-outlet{
  width: 100vh;
}