
.button-container {
  display: block;
  position: absolute;
  right: 5%;
}

.mat-button{
  font-family: 'IM Fell English', serif !important;
  font-size: large; 
}

.mat-toolbar{
  background-color: transparent;
  position: fixed;
  height: 70px;
  width: 100%;
  z-index: 9;
  justify-content: center;
}

.menu-icon{
  position: absolute;
  width: 100%;
}

.menu-button{
  position: absolute;
  right: 30px;
  top: 5px;
}

.mat-expansion-panel{
  background: transparent;
  box-shadow: none;
}

.header-scroll{
  background-color:#F5C667;
}

router-outlet{
  width: 100vh;
}