/* You can add global styles to this file, and also import other style files */

html, body { 
    height: 100%; 
    background-color: #F5C667;
}
body { 
    margin: 0; 
    font-family: 'IM Fell English', serif;
}
