<img class="face-pic" src="./assets/img/mig.JPG">
<h1>Hi, I'm Ävelin!</h1>
<h2>Currently aiming at a M.Sc in Interactive Media Technology at KTH, and previously achieved a B.Sc in Computer Science at the same school. I am always working on my personal development in interactive design and computer graphics, in addition to being fully commited to organisation development and student influance.</h2>


<div class="purple-back">
  <p class="header-projects">Here are some of my projects!</p>
<mat-grid-list class='project-list' cols="3" rowHeight="500px">
    <mat-grid-tile>
        <mat-card class="projects">
            <mat-card-header>
              <mat-card-title><p>IKEA Assembly</p></mat-card-title>
            </mat-card-header>

            <div class="hover-container">
              <img mat-card-image src="./assets/img/assembley.png"  >
              <div class="overlay" routerLink="./portfolio">
                <div class="text">Read more</div>
              </div>
            </div>
            <mat-card-content>
              <p>
                In a course in Interaction Design, my project group developed an idea for an app that would make the assembly stage of a furniture less frustrating. Together, we came upp with many ideas and developed a prototype of the idea with animation and an ispiring design.
              </p>
            </mat-card-content>
        </mat-card>
    </mat-grid-tile>

    <mat-grid-tile>
        <mat-card class="projects">
            <mat-card-header>
              <mat-card-title><p>Attentec Prov</p></mat-card-title>
            </mat-card-header>
            <div class="hover-container">
              <img mat-card-image src="./assets/img/attentec.png"  >
              <div class="overlay" routerLink="./portfolio">
                <div class="text">Read more</div>
              </div>
            </div>
            
            <mat-card-content>
              <p>
                Attentecs summer project consisted of developing a webapplication to administrate their code-test. We in the project group made all the decisions and developed both back and fron-end, resulting in a application used today.
              </p>
            </mat-card-content>
        </mat-card>
    </mat-grid-tile>

    <mat-grid-tile>
        <mat-card class="projects">
            <mat-card-header>
              <mat-card-title><p>memARy</p></mat-card-title>
            </mat-card-header>
            
            <div class="hover-container">
              <img mat-card-image src="./assets/img/memary1.png">
              <div class="overlay" routerLink="./portfolio">
                <div class="text">Read more</div>
              </div>
            </div>
            <mat-card-content>
              <p>
                In a course on Multimodal Interaction, my project group developed a memory application focused on using visual and auditory modalities to help the user train their memory. We implemented AR, 3D models and sounds and let the user place them in a room to create their own "Memory Walk".
              </p>
            </mat-card-content>
        </mat-card>
    </mat-grid-tile>
</mat-grid-list>
</div>

<h1>I would happily hear more about you. Let's get in touch!</h1>
<mat-grid-list class='project-list' cols="4" rowHeight="300px">
    <mat-grid-tile class='project'>
            <img class='img-conntact' src='./assets/img/mail2.png'>
            <a class ="contact" href="mailto: a.pantigoso@hotmail.com">a.pantigso@hotmail.com</a>
    </mat-grid-tile>
    <mat-grid-tile>
        <img class='img-conntact' src='./assets/img/github.png'>
        <a class ="contact" target="_blank" href="https://github.com/avelinpv" >github.com/avelinpv</a>
    </mat-grid-tile>
    <mat-grid-tile>
        <img class='img-conntact' src='./assets/img/phone.png'>
        <a class ="contact" href="tel:+46761257400">+46 76 125 74 00</a>
    </mat-grid-tile>
    <mat-grid-tile>
      <img class='img-conntact' src='./assets/img/linkedin.png'>
      <a class ="contact" target="_blank" href="https://www.linkedin.com/in/avelin-pantigoso/">linkedin.com/in/avelin-pantigoso</a>
  </mat-grid-tile>
</mat-grid-list>