.mat-card-image {
    margin-top: 0px !important;
}

.container {
    position: relative;
    text-align: center;
    max-width: 100% !important;
    margin: 0px !important;
    padding: 0px !important;
}

.face-pic{
    width: 100%;
}

.headtext{
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    margin: 0px !important;
    font-weight: bolder;
    font-size: 100px;
    color: #FFC107;
}

.undertext{
    position: absolute;
    top: 60%;
    left: 50%;
    width: 80%;
    transform: translate(-50%, -50%);
    margin: 0px;
    font-weight: normal;
    font-size: 30px;
    color: #FFC107;
}

.purple-back {
    background-color: #673AB7;
    -webkit-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.42);
    -moz-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.42);
    box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.42);
    padding-top: 50px;
    padding-bottom: 50px;
    margin-bottom: 80px;
    margin-top: 50px;
}

h1 {
    color:#673AB7;
    text-align: center;
    font-family: 'IM Fell English', serif;}

h2{
    color:#673AB7;
    text-align: center;
    font-family: 'IM Fell English', serif;
}

.projects {
    max-width: 250px;
    height: 380px;
    z-index: 8;
    background-color: #eeeeee;
}

.project-list {
    margin-left: 10%;
    margin-right: 10%;
    margin-top: 2%;
}
  

.more-projects {
    display:block;
    margin-left:auto;
    margin-right:auto;
    font-weight: 500;
    font-size: large;
}

.project{
    vertical-align: top;
    display: inline-block;
    text-align: center;
    font-family: 'IM Fell English', serif;}

.img-conntact{
    max-width: 150px;
    margin-left:auto;
    margin-right:auto;
    display:block;
}

.contact {
    color: #673AB7;
    display:block;
    text-align: center;
    position: absolute;
    bottom: 40px;
    font-weight: 500;
    font-size: large;
    font-family: 'IM Fell English', serif;
    text-decoration: none;
}

p {
    color: #FFC107;
    font-family: 'IM Fell English', serif;
    text-decoration: none;
}

p.header-projects {
    font-size: x-large;
    display:block;
    margin-left:auto;
    margin-right:auto;
    text-align: center;
}

.mat-card-image {
    width: 100% !important;
    margin-left: 0px;
}

.hover-container {
    position: relative;
    width: calc(100% + 32px);
    margin-left: -16px;
  }

.overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: calc(100% - 20px);
    width: 100%;
    opacity: 0;
    transition: .5s ease;
    background-color: #673AB7;
}
  
.hover-container:hover .overlay {
    opacity: 0.8;
}
  
.text {
    color: white;
    font-size: 20px;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    text-align: center;
}

b{
    font-family:'IM Fell English', serif;
    color: #FFC107;
    font-size: large;
}